# SPDX-FileCopyrightText: CERN for the benefit of the SHiP Collaboration
# SPDX-License-Identifier: LGPL-3.0-or-later
set noparent
linelength=100
filter=-legal/copyright,-build/include_order,-build/include_what_you_use,-build/header_guard,-build/c++17,-readability/braces,-readability/casting,-whitespace/braces,-whitespace/indent
